html{
	width: 100%;
	overflow-x: visible ;
}

#mainContainer{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	overflow-x: visible;
}

#titleBarIcons ul li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	background: none!important;
	padding: 7px 0 7px 30px;
}

#staticContent {
	display: block;
	background: #fff;
	padding: 2%;
	height: 240px;
}

form.testDrive label{
	display: block;
}

form.testDrive input{
	padding: 1%!important;
}

#footer ul li label{
	display: block;
}