#mainNav,
.topLinks,
#titleBar,
#breadcrumbs,
#footerContainer,
#subFooterRight,
#searchPanel {
    display: none;
}

ul.threeColumn {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.threeColumn > li {
    float: left;
    width: 100%;
    margin: 2% 0;
    padding: 0;
}

ul.threeColumn > li > a {
    float: left;
    width: 100%;
}

ul.threeColumn > li > a * {
    text-decoration: none;
    color: #000000;
}

ul.threeColumn > li > a img {
    float: left;
    width: 30%;
}

ul.threeColumn > li > a h2 {
    width: 100%;
    margin: 0;
    padding: 0 0 2%;
}

ul.threeColumn > li > a > div > div {
    float: left;
    width: 65%;
    margin: 0 0 0 5%;
    padding: 0;
}