
/*
	PROFILE WEB - www.fdpgroup.co.uk
*/


html{
	height: 100%;
	width: 100%;
}

body{
}

*{
	font-family: "Proxima Nova W01";
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	border: 0px none;
	font-size: 13px;
}

a{
	font-size: 13px;
	line-height: 1.6;
	color: #1a1a1a;
	text-decoration: underline;
}

ul{
	list-style-type: none;
}

ol {
    float: left;
    width: 100%;
    list-style-type: decimal;
    margin-left: 20px;
}

img{
	display: block;
	vertical-align: top;
}

h1{
	font-size: 18px;
	font-weight: 600;
	display: block;
	text-transform: uppercase;
	border-bottom: dotted 2px #ff5000;
	padding: 10px 0;
	margin: 2% 0 30px 0;
	color: #ff5000;
}

h1 > a{
	float: right;
	background: #ff5000;
	color: #ffffff;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	width: auto!important;
	font-weight: 600;
	font-size: 11px;
	padding: 2px 10px 1px 10px;
	margin: 0 0 10px 5px;
	border: solid 2px #ff5000;
}

h1 > a.current{
	background: #fff;
	color: #ff5000;
}

h2{
	float: left;
	width: 100%;
	font-size: 15px;
	font-weight: 600;
	margin: 10px 0 10px;
}

h3{
	float: left;
	width: 100%;
	font-size: 14px;
	font-weight: 600;
	margin: 10px 0 10px;
}


p{
	float: left;
	width: 100%;
	font-size: 13px;
	line-height: 1.6;
	margin: 0 0 15px;
}

.Red {
	color: #cc0000;
}

#headerContainer{
	width: 100%;
	float: left;
	background: #1a1a1a;
}

header{
	max-width: 1024px;
	margin: auto;
	padding: 0 20px;
}

header > a > img{
	float: left;
}

header > #menuToggle{
	width: 30px;
	height: 30px;
	float: right;
	margin-top: 40px;
	cursor: pointer;
	display: none;
}

header > #menuToggle > div{
	display: block;
	height: 20%;
	margin-bottom: 20%;
	background: #fff;
}

header > nav{
	float: right;
	margin-top: 10px;
}

header > nav > div {
	float: left;
}

header > nav > div > #topLinks{
	clear: none;
	float: right;
	margin-top: 0px;
}

header > nav > div > #topLinks > li{
	float: left;
}

header > nav > div > #topLinks a{
	float: left;
	color: #fff;
	padding: 5px 10px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	display: block;
	background: #ff5000;
	margin-left: 10px;
}

header > nav > div > #socialLinks{
	clear: none;
	float: right;
	list-style-type: none;
	margin-top: 0px;
}

header > nav > div > #socialLinks > li{
	float: left;
	margin-left: 10px;
}

header > nav > div > #socialLinks > li > a{
	padding: 4px;
	background: none!important;
}

header > nav > div > #socialLinks > li > a > img{
	height: 23px;
}

header > nav > div > ul{
	margin-top: 30px;
	clear: right;
	float: right;
	list-style-type: none;
}

header > nav > div > ul > li{
	float: left;
	position: relative;
}

header > nav > div > ul > li > a{
	padding: 10px 15px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	display: block;
}

header > nav > div > ul > li:hover > a{
	background: #ffffff;
	color: #333333;
}

header > nav > div > ul > li:hover > ul{
	opacity: 1;
	visibility: visible;
}

header > nav > div > ul > li > ul{
	position: absolute;
	background: #eeeeee;
	display: block;
	top: 100%;
	z-index: 99;
	left: 0px;
	opacity: 0;
	width: 200px;
	visibility: hidden;
	transition: opacity 0.2s ease-in-out;
	border-bottom: solid 5px #ff5000;
}

header > nav > div > ul > li > ul > li{
	display: block;
}

header > nav > div > ul > li > ul > li a{
	padding: 10px 15px;
	display: block;
	color: #333333;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	font-size: 12px;
}

#quickEnquiryContainer{
	position: fixed;
	top: 14%;
	z-index: 999;
	left: -420px;
	width: 420px;
	display: block;
	background: #fff;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#quickEnquiryContainer.active{
	-moz-box-shadow: 3px 2px 6px 2px #ccc;
	-webkit-box-shadow: 3px 2px 6px 2px #ccc;
	box-shadow: 3px 2px 6px 2px #ccc;
	left: 0px;
}

#quickEnquiry{
	float: left;
	width: 90%;
	padding: 10% 5%;
	position: relative;
}

#quickEnquiryButton{
	position: absolute;
	top: 100px;
	right: -50px;
	height: 183px;
	width: 50px;
	cursor: pointer;
	background: url(../images/quickEnquiry.png) no-repeat;
}

#quickEnquiry h3{
	float: left;
	font-weight: bold;
	font-size: 18px;
}

#quickEnquiryClose{
	float: right;
	cursor: pointer;
}

#backgroundImage{
	float: left;
	margin-top: -1px;
	height: 100%;
	width: 100%;
}

#backgroundImage.one{
	background: url(../images/backgroundTwo.jpg) no-repeat center center;
	background-size: cover;
}

#backgroundImage.two{
	background: url(../images/backgroundTwo.jpg) no-repeat center center;
	background-size: cover;
}

#backgroundImage.three{
	background: url(../images/backgroundThree.jpg) no-repeat center center;
	background-size: cover;
}

#backgroundImage.four{
	background: url(../images/backgroundFour.jpg) no-repeat center center;
	background-size: cover;
}

#backgroundImage.five{
	background: url(../images/backgroundFive.jpg) no-repeat center center;
	background-size: cover;
}

#homepageContent{
	clear: both;
	max-width: 1024px;
	margin: auto;
	position: relative;
	padding: 0 20px 50px 20px;
}

#homepageText {
	padding: 20px;
}

#homepageText > div {
	max-width: 1024px;
	margin: auto;
}

#homepageText > div > div#homepageIntro {
	float: left;
	width: 55%;
	margin: 5px 0;
    padding: 0;
}

#homepageText > div > div#homepageIntro > p {
	font-size: 1.2em;
}

#homepageText h3{
	margin: 8px 0;
	font-size: 1.2em;
	font-weight: bold;
}

#homepageText ul{
	list-style-type: disc;
	margin-left: 20px;
	float: left;
	width: 100%;
}

#homepageText ul > li{
	float: left;
	width: 100%;
	padding: 3px 0;
	font-size: 1.2em;
}

div#homepageJobs {
    float: right;
    width: 35%;
    margin: 0;
    padding: 0;
}

@media (max-width: 700px) {
    #homepageText > div > div#homepageIntro,
    div#homepageJobs {
        width: 100%;
    }
    
    #homepageForm {
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
    }
    
    #homepageSearch {
        width: 100%!important;
        margin: 0!important;
    }
}

div#homepageJobs * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div#homepageJobs h2 {
    font-size: 1.6em;
}

div#homepageJobs > ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

div#homepageJobs > ul > li {
    float: left;
    width: 100%;
    margin: 10px 0;
    padding: 0;
    background: #f1f1f1;
}

div#homepageJobs > ul > li a {
    float: left;
    width: 100%;
    margin: 0;
    padding: 15px;
}

div#homepageJobs > ul > li h3 {
    margin: 0 0 10px;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #ff5000;
    font-size: 1.3em;
}

div#homepageJobs > ul > li > a > ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

div#homepageJobs > ul > li > a > ul > li {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
    color: #333333;
}

div#homepageJobs > ul > li > a p {
    margin: 10px 0 0;
}

ul#homepageBlocks {
	float: left;
	width: 100%;
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

ul#homepageBlocks * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul#homepageBlocks > li {
	float: left;
	width: 31.333%;
	margin: 1%;
	padding: 0;
	background-color: #ff5000;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

@media only screen and (max-width: 700px){
	ul#homepageBlocks > li {
		width: 48%;
	}
}

@media only screen and (max-width: 500px){
	ul#homepageBlocks > li {
		width: 98%;
	}
}

ul#homepageBlocks > li a {
	float: left;
	width: 100%;
	margin: 0;
	padding: 10px;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul#homepageBlocks > li a:hover {
	background: rgba(0, 0, 0, 0.5);
}

ul#homepageBlocks > li.no_image a {
	background: none;
}

ul#homepageBlocks > li.no_image a:hover {
	background: rgba(0, 0, 0, 0.3);
}

ul#homepageBlocks > li a span.title {
	float: left;
	width: 100%;
	height: 50px;
	font-size: 16px;
}

ul#homepageBlocks > li a span.call_to_action {
	float: left;
	width: 100%;
	margin: 5px 0 0;
	padding: 0;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
}

.orange {
	color: #ff5000;
	font-weight: bold;
}

#imageOverlay{
	clear: both;
	max-width: 1024px;
	margin: auto;
	padding: 100px 0 100px 0;
}

#imageOverlay > h1{
	font-size: 40px;
	background: #000000;
	background: rgba(0,0,0,0.6);
	border-bottom: none 0px;
	text-transform: none;
	color: #fff;
	padding: 20px;
	line-height: 1.3;
	float: right;
	margin: 0;
}

#homepageLinks{
	clear: right;
	float: right;
	margin-top: 50px;
	list-style-type: none;
}

#homepageLinks > li{
	float: left;
	margin-left: 20px;
}


#homepageLinks > li >a{
	color: #fff;
	padding: 10px 20px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	display: block;
	background: #ff5000;
}

#homepageFormContainer{
	clear: both;
	width: 100%;
	float: left;
}

#homepageForm{
	max-width: 1024px;
	margin: 20px auto;
	padding: 0 20px;
}

form#homepageForm{
	max-width: 1024px;
	margin: 20px auto;
	padding: 0;
}

#homepageForm label{
	display: none;
}

#homepageForm h2{
	color: #ff5000;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

#homepageForm > form{
	float: left;
	width: 100%;
}

#homepageForm > form input{
	clear: none;
	float: left;
	width: 90%;
	margin: 0 2% 0 0;
	padding: 3% 4%;
	border: solid 1px #1a1a1a;
}

#homepageForm > form > div{
	clear: none;
	float: left;
	width: 39%;
	margin: 0 2% 0 0;
}

#homepageForm > form > div.controls{
	clear: none;
	float: right;
	width: 15%;
	margin: 0 2% 0 0;
}

#homepageForm > form > div.controls > input{
	color: #fff;
	padding: 8% 0;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	display: block;
	background: #ff5000;
	border: none 0px;
}

#homepageSearch {
    float: left;
    width: 80%;
    margin: 0 10%;
    padding: 20px;
    background: #fff;
	background: rgba(255,255,255,0.8);
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#homepageSearch h3 {
    margin: 0;
    padding: 0 0 20px;
    font-size: 2em;
    text-transform: uppercase;
}

#homepageSearch a {
    background: #ff5000;
    margin: 0;
    padding: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5em;
}

#content{
	clear: both;
	max-width: 1024px;
	margin: auto;
	position: relative;
	padding: 0 20px 50px 20px;
}

#contentLine{
	position: absolute;
	left: -928px;
	top: 0px;
	background: url(../images/line.png) no-repeat;
	width: 964px;
	height: 100%;
	display: block;
	z-index: -99;
}

#subnav{
	list-style-type: none;
	float: right;
	margin-top: 20px;
	margin-bottom: -50px;
}

#subnav li{
	float: left;
	margin-left: 20px;
	font-weight: 700;
	line-height: 1.6;
}

#subnav li.logout{
	padding-left: 20px;
	border-left: solid 1px #1a1a1a;
}

#subnav li a {
	font-weight: 400;
	text-decoration: none;
}

#subnav li.current a {
	color: #ff5000;
	font-weight: 700;
}

#subnav li a:hover{
	text-decoration: underline;
}

@media only screen and (max-width: 820px) {
	#subnav {
		float: left;
		width: 100%;
		margin: 10px 0 0;
	}
	
	#subnav li {
		margin: 10px 12px 0 0;
	}
}

#mainContent{
	margin-top: 60px;
	float: left;
	width: 70%;
}

#mainContent.full{
	width: 100%;
}

#mainContent > ul{
	list-style-type: disc;
	float: left;
	margin: 0 0 15px 20px;
	width: 100%;
}

#mainContent > ul > li{
	margin: 0 0 5px;
}

#mainContent img {
	float: left;
	margin: 10px 10px 10px 0;
	width: auto;
	height: 160px;
}

#jobResults{
	float: left!important;
	width: 100%!important;
	list-style-type: none!important;
	margin: 0!important;
}

#jobResults > li{
	float: left;
	width: 100%;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: solid 1px #ccc;
}

#jobResults > li > h3 > a{
	float: left;
	width: 100%;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 10px;
}

#jobResults > li > ul{
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

#jobResults > li > ul > li{
	float: left;
	width: 100%;
	font-style: italic;
	margin-bottom: 5px;
}

#refineJobs div.text > label,
#refineJobs div.dropdown > label {
	display: block!important;
	color: #ffffff;
	width: 100%;
	margin: 0 0 10px;
}

#refineJobs select { 
	display: block!important;
	width: 100%;
	margin: 0 0 10px;
}

#refineJobs div.text > input {
	width: 90%;
	margin: 0 0 10px;
	padding: 5%;
}

#refineJobs div.optionset > label {
	display: none;
}

#refineJobs div.optionset > ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#refineJobs div.optionset > ul > li {
	float: left;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 6px 0;
	padding: 0 0 0 30px;
	position: relative;
}

#refineJobs div.optionset > ul > li > input {
	float: left;
	width: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2px;
	left: 3px;
}

#refineJobs div.optionset > ul > li > label {
	float: left;
	width: 100%;
	display: block;
	color: #ffffff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#refineJobs div.controls input {
	margin: 15px 0 0;
}

#refineJobs div.controls input:hover {
	cursor: pointer;
}

#refineJobs div.controls input.reset {
	float: right;
	background: #999999;
}

#jobDescription{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

#jobDescription > li{
	float: left;
	width: 100%;
	margin-bottom: 5px;
}

#candidateTable{
	clear: both;
	min-width: 30%;
}

#candidateTable th{
	background: #1a1a1a;
	color: #fff;
}

#candidateTable th, #candidateTable td{
	padding: 5px 10px;
	border-bottom: solid 1px #ccc;
}


#timesheetTable{
	clear: both;
	width: 100%;
	margin: 30px 0;
	text-align: left;
	border-spacing: 0px;
}

#timesheetTable th{
	background: #1a1a1a;
	color: #fff;
}

#timesheetTable th, #timesheetTable td{
	padding: 5px 10px;
	border-bottom: solid 1px #ccc;
}

#timesheetTable td.noPadding{
	padding: 0;
}

#timesheetTable .centred {
    text-align: center;
}

#timesheetTable th {
	vertical-align: bottom;
	font-weight: bold;
}


#timesheetTable .selectStyle {
	clear: both;
	display: block;
	overflow: hidden;
	background: #fafafa url(../images/orangeSelect.png) no-repeat right center;
	background-size: 25px 25px;
	margin: 0;
	width: 150px;
}

#timesheetTable .selectStyle select {
	padding: 2%;
	width: 120%;
	color: #333;
	border: none;
	box-shadow: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
}


.submitContainer .submitButton{
	float: left;
	background: #ff5000;
	color: #fff;
	text-transform: uppercase;
	width: auto!important;
	font-weight: 600;
	padding: 1.5%;
	margin: 1% 0;
}

.jobsButton{
	float: left;
	background: #ff5000;
	color: #fff;
	text-transform: uppercase;
	width: auto!important;
	font-weight: 600;
	padding: 2%;
	margin: 1% 0;
	text-decoration: none;
}

#timesheetTable td > a, #timesheetTable td > .submitButton{
    float: none!important;
	display: inline-block;
	background: #ff5000;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	width: auto!important;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
	padding: 1px 10px;
}

p.who-notice {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	margin: 20px 0 0;
	padding: 10px 0;
	background: #ff5000;
	color: #ffffff;
}

#timesheetContainer{
	margin: 0;
}

#timesheetContainer .topRow{
	width: 100%;
	float: left;
	background: #1a1a1a;
	margin-bottom: 20px;
}

#timesheetContainer .header {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
    display: table;
}

#timesheetContainer .header > div {
    display: table-row;
}

#timesheetContainer .header > div > div {
	width: 23%;
	padding: 1%;
    display: table-cell;
}

#timesheetContainer .header > div > div > label {
	margin: 0 0 5px;
	font-weight: 700;
	display: block;
	color: #fff;
}

#timesheetContainer .header > div > div > input,
#timesheetContainer .header > div > div > select {
	width: 100%;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	padding: 8px;
	
    border: 2px solid #cccccc;
}

#timesheetContainer .header > div > div.full {
	width: 98%;
	background: #ff5000;
}

#timesheetContainer tr.footer > * {
	background: #000000;
}

#timesheetContainer tr.footer th {
	color: #ffffff;
	text-align: right;
}

#timesheetContainer tr.footer label {
	display: none;
}

.errorlist{
	list-style-type: none;
	float: left;
	width: 94%!important;
	margin: 10px 0 0 0;
	padding: 3%;
	outline: solid 2px #c1272d;
	background: #e5656f;
}

.errorlist > li{
	color: #fff;
	padding: 0!important;
}

p.error {
    float: left;
	width: 98%!important;
	margin: 10px 0 20px 0;
	padding: 1%;
	outline: solid 2px #c1272d;
	color: #fff;
	background: #e5656f;
}

#timesheetContainer div.days {
    float: left;
    width: 100%;
    display: table;
}

#timesheetContainer div.days > div {
    display: table-row;
}

#timesheetContainer div.days > div.days_header {
    font-weight: 700;
    text-align: center;
}

#timesheetContainer div.days > div > div {
    width: 9.11%;
    padding: 1%;
    background: #f8f8f8;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #ffffff;
}

#timesheetContainer div.days > div.odd > div {
    background: #eeeeee;
}

#timesheetContainer div.days > div > div label {
    display: none;
}

#timesheetContainer div.days > div > div.date {
    text-align: center;
}

#timesheetContainer div.days > div > div.date label {
    display: inline-block;
    padding-right: 5px;
}

#timesheetContainer div.days > div > div.date input {
    margin-top: 5px;
	float: none;
	width: auto;
	text-align: center;
}

#timesheetContainer div.days > div > div.text input,
#timesheetContainer div.days > div > div.dropdown select {
    width: 100%;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	padding: 8px;
	
    border: 2px solid #cccccc;
}

#timesheetContainer div.days > div > div.error input,
#timesheetContainer div.days > div > div.error select {
    border-color: #c1272d;
    background-color: #e5656f;
    color: #ffffff;
}

#timesheetContainer div.days > div.example > div {
	background: #C9C9C9;
}

#timesheetContainer div.days > div.example > div.date label,
#timesheetContainer div.days > div.example > div.date input {
	display: none;
}

#timesheetContainer div.days > div.example div.date h4 {
	text-transform: uppercase;
}

#timesheetContainer div.footer {
    float: left;
    width: 100%;
    display: table;
}

#timesheetContainer div.footer > div {
    display: table-row;
    background: #000000;
}

#timesheetContainer div.footer > div > div {
    width: 10.5%;
    padding: 1%;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #000000;
    border-top: none;
    border-bottom: none;
}

#timesheetContainer div.footer > div > div.totals {
    font-weight: 700;
    text-align: right;
    color: #ffffff;
    border-color: #ffffff;
    border-left-color: #000000;
}

#timesheetContainer div.footer > div > div.text {
    border-color: #ffffff;
}

#timesheetContainer div.footer > div > div label {
    display: none;
}

#timesheetContainer div.footer > div > div.text input {
    width: 100%;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	padding: 8px;
	
    border: 2px solid #cccccc;
}

#mainContent.security {
	float: left;
	width: 100%;
}

#mainContent.security form {
	float: left;
	width: 50%;
}

#mainContent.security form > div.form_row,
#mainContent.security form > div.button_row {
	float: left;
	width: 100%;
	margin: 5px 0;
}

#mainContent.security form > div.form_row.text label {
	float: left;
	width: 100%;
	margin: 0 0 5px 0;
}

#mainContent.security form > div.form_row.text input {
	float: left;
	width: 98%;
	background: #f1f1f1;
	padding: 1%;
}

#mainContent.security form > div.button_row input {
	float: left;
	margin: 0 0 5px;
	padding: 5px;
}

@media (max-width: 700px) {
	
	#timesheetContainer div.days > div > div.text input {
		padding: 3% 1%;
	}
	
    #timesheetContainer .header {
        display: block;
        padding: 10px 0;
    }
    
    #timesheetContainer .header > div {
        display: block;
    }
    
    #timesheetContainer .header > div > div {
        width: 96%;
        padding: 2%;
        display: block;
    }

    #timesheetContainer div.days {
        display: block;
    }
    
    #timesheetContainer div.days > div {
        display: block;
        padding: 10px 0;
        background: #f8f8f8;
    }
    
    #timesheetContainer div.days > div.odd {
        background: #eeeeee;
    }
    
    #timesheetContainer div.days > div.days_header {
        display: none;
    }
    
    #timesheetContainer div.days > div > div {
        width: 96%;
        padding: 2%;
        display: block;
        border: none;
    }
    
    #timesheetContainer div.days > div > div > label {
        display: block;
        margin: 0 0 5px;
    }
	
	#timesheetContainer div.days > div.disabled > div.text > label {
		opacity: 0.5;
	}
    
    #timesheetContainer div.footer {
        display: block;
    }
    
    #timesheetContainer div.footer > div {
        display: block;
    }
    
    #timesheetContainer div.footer > div > div {
        width: 96%;
        padding: 10px 2%;
        display: none;
        border: none;
    }
	
	#timesheetContainer div.footer > div > div > label {
		display: block;
		color: #ffffff;
		font-weight: bold;
	}
    
    #timesheetContainer div.footer > div > div.totals {
        text-align: center;
    }
    
    #timesheetContainer div.footer > div > div.totals,
    #timesheetContainer div.footer > div > div.text {
        display: block;
    }
}

#timesheetContainer	.submitButton{
	float: left;
	background: #ff5000;
	color: #fff;
	text-transform: uppercase;
	width: auto!important;
	font-weight: 600;
	padding: 1.5%;
	margin: 1% 2px;
}

#timesheetContainer	.submitButton.alongside {
	clear: none;
}

#timesheetContainer .selectStyle{
	clear: both;
	display: block;
	overflow: hidden;
	background: #fafafa url(../images/select.png) no-repeat right center;
	background-size: 25px 25px;
	margin: 0;
	width: 100%;
}

#timesheetContainer .selectStyle select{
	padding: 2%;
	width: 120%;
	color: #333;
	border: none;
	box-shadow: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
}

#timesheetContainer div.textarea label {
    float: left;
    width: 100%;
    margin: 20px 0 10px;
    font-weight: bold;
}

#timesheetContainer div.textarea label span {
	color: #888888;
}

#timesheetContainer div.textarea textarea {
    float: left;
    width: 98%;
    padding: 1%;
    outline: 1px solid #cccccc;
}


#mainContent > ul.timesheet_types, #mainContent > ul.timesheet_types * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#mainContent > ul.timesheet_types {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0!important;
    padding: 0;
}

#mainContent > ul.timesheet_types > li {
    float: left;
    width: 48%;
    margin: 1%;
    list-style: none;
	position: relative;
	background-position: top center;
    background-repeat: no-repeat;
    background-size: 210px;
}

#mainContent > ul.timesheet_types > li a {
    float: left;
    width: 100%;
    padding: 130px 10px 70px;
    border: 2px solid #f1f1f1;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
	position: relative;
	z-index: 10;
}

#mainContent > ul.timesheet_types > li p {
	position: absolute;
	left: 2px;
	right: 2px;
	bottom: 2px;
	margin: 0 auto;
	background: #f1f1f1;
	padding: 5px;
	color: #333333;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	width: auto;
	z-index: 1;
}

#mainContent > ul.timesheet_types > li p span {
	float: left;
	width: 100%;
	background: #ff5000;
	color: #ffffff;
	margin: -5px -5px 5px;
	padding: 5px;
	
	box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

#mainContent > ul.timesheet_types > li.compass {
    background-image: url(../images/compass_timesheet.png);
}

#mainContent > ul.timesheet_types > li.cardinal {
    background-image: url(../images/cardinal_timesheet.png);
}

#mainContent > ul.timesheet_types > li:hover {
    background-color: #f1f1f1;
}

@media (max-width: 700px) {
    #mainContent > ul.timesheet_types > li {
        float: left;
        width: 98%;
        margin: 1%;
        list-style: none;
    }
    
    #mainContent > ul.timesheet_types > li a {
        background-size: 200px;
		padding-bottom: 0;
    }
	
	#mainContent > ul.timesheet_types > li p {
		position: static;
		float: left;
		width: 100%;
		padding: 5px 10px;
	}
	
	#mainContent > ul.timesheet_types > li p span {
		margin: -5px -10px 0;
		padding: 5px 10px;
	}
}

/* JOBS FORM */

#jobForm{
	float: left;
	width: 400px;
}

#jobForm > form{
	float: left;
	width: 100%;
}

#jobForm > form > div{
	clear: both;
	float: left;
	width: 100%;
	margin: 20px 0;
}

#jobForm > form div > ul{
	clear: both;
	float: left;
	width: 100%;
}


#jobForm > form div > ul > li{
	clear: both;
	float: left;
	width: 90%;
	padding: 0 5%;
}

#jobForm > form > div > div{
	clear: both;
	float: left;
	width: 100%;
	margin: 0;
}

#jobForm h3{
	float: left;
	width: 100%;
	font-size: 18px;
	margin: 20px 0 10px 0;
}

#jobForm label{
	clear: both;
	float: left;
	width: 100%;
	margin: 10px 0 5px 0;
}

#jobForm input[type=text],
#jobForm input[type=password]{
	clear: both;
	float: left;
	width: 90%;
	padding: 5px;
	border: solid 1px #ddd;
}

#jobForm textarea{
	clear: both;
	float: left;
	width: 90%;
	padding: 5px;
	border: solid 1px #ddd;
}

#jobForm .overflowList{
	float: left;
	width: 90%;
	border: solid 1px #ddd;
	height: 250px;
	overflow: scroll;
	margin: 20px 0;
}

#jobForm .overflowList label{
	clear: both;
	float: left;
	width: 100%;
	margin: 5px 0;
}

#jobForm input[type=radio]{
	margin-right: 10px;
}

#jobForm select{
	margin: 5px 0;
	padding: 5px 10px;
	width: 90%;
	height: 25px;
}

#jobForm .salary{
	width: 175px;
}

#jobForm .salary > span{
	clear: both;
	float: left;
	padding: 10px 5px 0 0;
	width: 50px;
	text-align: right;
}

#jobForm .salary > div{
	float: right;
	width: 120px;
	margin: 5px 0;
}


/* REGISTRATION FORM */

#mainContent > #regButtons{
	float: left;
	width: 100%;
	list-style-type: none!important;
	margin: 0!important;
}

#mainContent > #regButtons > li{
	float: left;
	width: 30%;
	margin-right: 5%;
	margin-bottom: 5%;
}

#mainContent > #regButtons > li.noMargin{
	margin-right: 0;
}

#mainContent > #regButtons > li > a{
	color: #fff;
	padding: 20px 40px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	display: block;
	background: #ff5000;
}

.registrationForm .form_row{
	float: left;
	width: 70%;
}

.registrationForm .errorlist{
	clear: both;
	float: left;
	width: 100%;
}

.registrationForm .errorlist li {
	color: #cc0000;
	font-weight: 700;
	padding: 1% 0;
}

.registrationForm label{
	clear: both;
	float: left;
	margin: 10px 0 5px 0;
	width: 100%;

}

.registrationForm input, .registrationForm select,  .registrationForm textarea{
	clear: both;
	float: left;
	padding: 5px;
	border: solid 1px #ddd;
	width: 90%;
	margin: 1px 0;
}

.registrationForm input[type=radio]{
	clear: both;
	float: none;
	padding: 5px;
	border: none 0px;
	width: auto;
	margin: 5px 5px 5px 0;
}

.form_row.multiplechoicefield .radio{
	display: block;
	margin: 10px 0;
}

.form_row.optionset.role_category > label {
    font-weight: bold;
}

.form_row.optionset ul {
    float: left;
    width: 100%;
}

.form_row.optionset ul li {
    display: block;
    margin: 0 0 10px;
}

.form_row.optionset ul li label {
    clear: both;
	float: none;
	padding: 5px;
	border: none 0px;
	width: auto;
	margin: 5px 5px 5px 0;
}

.registrationForm .button_row{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.registrationForm h3{
	clear: both;
	float: left;
	width: 100%;
	margin: 10px 0 15px 0;
}

.registrationForm .next{
	clear: right;
	float: right;
	background: #ff5000;
	color: #fff;
	text-transform: uppercase;
	width: auto!important;
	font-weight: 600;
	padding: 10px 20px;
	cursor: pointer;
}

.registrationForm .upload{
    clear: both;
    margin: 0 0 40px;
}

.registrationForm .back{
	clear: right;
	float: left;
	background: #ff5000;
	color: #fff;
	text-transform: uppercase;
	width: auto!important;
	font-weight: 600;
	padding: 10px 20px;
	cursor: pointer;
}

.registrationForm .fieldgroup.no_labels label {
    display: none;
}

.registrationForm .form_row.readonly {
    width: 100%;
}

.registrationForm .form_row.readonly ul {
    float: left;
    width: 100%;
    list-style: disc;
    margin: 0 0 15px 20px;
}

.registrationForm .form_row.readonly ul > li {
    margin: 0 0 5px;
}

.registrationForm .form_row.payment_method {
    width: 100%;
}

.registrationForm .payment_method > div.optionset {
    width: 100%;
}

.registrationForm .payment_method > div.optionset > label {
    display: none;
}

.registrationForm .payment_method > div.optionset > ul {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.registrationForm .payment_method > div.optionset > ul > li {
    float: left;
    width: 23%;
    margin: 1%;
}

.registrationForm .payment_method > div.optionset > ul > li input {
    display: none;
}

.registrationForm .payment_method > div.optionset > ul > li > label {
    float: left;
    width: 100%;
    margin: 0;
    padding: 30px 0;
    background: #ff5000;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

.registrationForm .payment_method > div.optionset > ul > li > label.faded {
    opacity: 0.5;
}

.registrationForm .payment_method > div.optionset > ul > li > label:hover {
    cursor: pointer;
    opacity: 1!important;
}

.registrationForm div.eligibility {
    float: left;
    width: 100%;
    margin: 20px 0 0;
}

.registrationForm div.eligibility > a {
    float: left;
    margin: 0;
    padding: 15px;
    background: #888888;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

input.disabled {
    opacity: 0.5;
    cursor: default!important;
}

.warning {
	float: left;
	width: 100%;
	margin: 2% 0 0;
	padding: 0;
	color: #cc0000;
	font-size: 1.4em;
	font-weight: 700;
	text-transform: uppercase;
}

.warning a {
    font-size: 1em;
    color: #cc0000;
}

.warning a:hover {
    text-decoration: none;
}

/* SIDEBAR */

#sidebar{
	width: 27%;
	margin-right: 3%;
	float: left;
	margin-top: 60px;
}

.sidebarItem{
	float: left;
	width: 90%;
	background: #1a1a1a;
	margin-bottom: 4%;
	padding: 5%;
}

.sidebarItem.archive {
	background: #f1f1f1;
}

.sidebarItem h3{
	float: left;
	width: 100%;
	font-size: 18px;
	font-weight: 600;
	display: block;
	padding: 0 0 5%;
	color: #ff5000;
	text-transform: uppercase;
}

.sidebarItem .errorlist{
	list-style-type: none;
	float: left;
	width: 84%;
	margin: 0 5% 10px 5%;
	padding: 3%;
	outline: solid 2px #c1272d;
	background: #e5656f;
}

.sidebarItem .errorlist > li{
	color: #fff;
}
/*new*/
.sidebarItem form{
    width: 100%;
}

.sidebarItem form div.form_row {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.sidebarItem form div.button_row {
	float: left;
	width: 100%;
}

.sidebarItem div.field {
     margin: 0;
}

.sidebarItem form input.text {
    width: 90%;
	margin: 0;
    padding: 5%;
    font-size: 15px;
    background-color: #fff;
    border: 0;
}

.sidebarItem .left {
    margin: -10px 0 0 0;
}
/*end*/

.sidebarItem input{
	width: 80%;
	margin: 0 5% 10px;
	padding: 5%;
}

.sidebarItem label{
	display: none;
}

.selectStyle {
	clear: both;
	display: block;
	overflow: hidden;
	background: #fafafa url(../images/select.png) no-repeat right center;
	background-size: 40px 40px;
	margin: 0 5% 10px 5%;
}

.selectStyle select {
	padding: 5%;
	width: 120%;
	color: #333;
	border: none;
	box-shadow: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
}

.selectStyle select:focus {
	outline: none;
}

/*.submitButton{*/
.action{
	float: left;
	background: #ff5000;
	color: #fff;
	text-transform: uppercase;
	width: auto!important;
	font-weight: 600;
	margin: 0 5% 5% 5%;
}



/* CASE STUDY PAGE */

#mainContent #caseStudiesList{
	float: left;
	width: 100%;
	list-style-type: none!important;
	margin: 0!important;
}

#mainContent #caseStudiesList > li{
	float: left;
	width: 100%;
	margin-bottom: 60px;
}

#mainContent #caseStudiesList > li > img{
	float: left;
	width: 25%;
	height: auto;
	margin-right: 5%;
}

#mainContent #caseStudiesList > li > div{
	float: left;
	width: 70%;
}

#mainContent ul.process{
	list-style-type: none;
	margin: 0 0 15px 0;
}

#mainContent ul.process > li{
	float: left;
	width: 100%;
}

#mainContent ul.process > li > *{
	float: right;
	width: 96%;
}

#mainContent ul.process > li > i{
	float: left;
	width: 4%;
	margin: 12px 0;
	font-size: 14px;
}


/* FOOTER */

#footerContainer{
	clear: both;
	width: 100%;
	background: #1a1a1a;
	padding: 50px 0;
}

footer{
	max-width: 1024px;
	margin: auto;
	padding: 0 20px;
	color: #fff;
}

footer > p{
	width: auto;
}

footer > img{
	clear: left;
	float: left;
	margin-top: 20px;
	width: 350px;
    max-width: 100%;
}

#footerRight{
	float: right;
}

#footerRight > div{
	float: left;
	margin-right: 40px;
}

#footerRight > div > h4{
	font-size: 15px;
	font-weight: 600;
	display: block;
	text-transform: uppercase;
	color: #ff5000;
}

#footerRight > div > p{
	color: #fff;
}

.clear{
	clear: both;
}

div.construction {
	float: left;
	width: 100%;
}

.notice {
	font-size: 1.3em;
	font-weight: bold;
	color: #cc0000;
	padding: 20px 0;
}

.box-notice {
	float: left;
	width: 100%;
	background: #cc0000;
	font-size: 1.4em;
	font-weight: bold;
	color: #ffffff;
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


@media only screen and (max-width: 1024px){

	#contentLine{
		display: none;
	}

}

@media only screen and (max-width: 820px){

	header > img{
		width: 150px;
	}

	header > nav {
		clear: both;
		float: left;
		margin: 0;
		padding: 0;
	}
	
	header > nav > div {
		float: left;
		width: 100%;
		padding: 20px 0;
	}

	#sidebar, #mainContent{
		margin-top: 20px;
	}
	
}

@media only screen and (max-width: 700px){

	header > a > img{
		width: 125px;
	}

	header > #menuToggle{
		display: block;
		margin-top: 30px;
	}

	nav{
		display: none;
	}

	#sidebar{
		width: 100%;
	}

	.formContainer{
		display: none;
	}

	#mainContent{
		width: 100%;
	}

	.sidebarItem h3{
		padding: 5%;
		cursor: pointer;
		display: block;
		transition: all 0.2s ease-in-out;
	}

	.sidebarItem h3.active{
		padding: 7% 5% 5% 5%;
	}

	#homeLinks > li{
		float: left;
		width: 100%;
		margin: 0 0 10px 0;
	}

	#timesheetContainer .topRow{
		padding: 2% 0;
	}

	#timesheetContainer .topRow > div{
		width: 90%;
		padding: 2% 5%;
	}

	#timesheetContainer .row{
		padding: 2% 0;
	}

	#timesheetContainer .row > h3{
		width: 90%;
		padding: 2% 5%;
	}

	#timesheetContainer .row > div{
		width: 90%;
		padding: 2% 5%;
	}

	#timesheetContainer	.submitButton {
		padding: 5%;
	}
	
	header > nav > div > ul {
		float: left;
		width: 100%;
		margin: 10px 0;
	}
	
	header > nav > div > ul > li {
		float: left;
		width: 100%;
		text-align: center;
	}
	
	header > nav > div > ul > li:hover > ul {
		display: none;
	}
	
	header > nav > div > ul#topLinks {
		float: left;
		width: 100%;
		text-align: center;
	}
	
	header > nav > div > ul#topLinks > li {
		float: left;
		width: 100%;
		margin: 5px 0;
	}
	
	header > nav > div > ul#topLinks > li a {
		float: none;
		margin: 0;
		display: inline-block;
	}
	
	header > nav > div {
		padding-bottom: 60px;
		position: relative;
	}
	
	header > nav > div > ul#socialLinks {
		position: absolute;
		left: 0;
		bottom: 5px;
		width: 100%;
		text-align: center;
	}

	header > nav > div > ul#socialLinks > li {
		float: none;
		width: auto;
		margin: 0;
		padding: 0 10px;
		display: inline-block;
	}
	
	header > nav > div > ul#socialLinks > li > a > img {
		height: 30px;
	}
	
	
}

#job_search_options {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#job_search_options > li {
    float: left;
    width: 46%;
    margin: 0 2% -1.5%;
}

#job_search_options > li > a,
#job_search_options > li > div {
    float: left;
    width: 96%;
    margin: 0;
    padding: 2%;
    background: rgba(255,255,255,0.8);
    text-align: center;
}

#job_search_options > li > a:hover p.call_to_action {
    text-decoration: underline;
}

#job_search_options h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    color: #888888;
}

#job_search_options p {
    float: left;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    color: #ff5000;
    font-size: 18px;
    font-weight: bold;
    min-height: 60px;
}

#job_search_options p.call_to_action {
    padding: 0;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    min-height: 0;
}

#uk_locations {
    float: left;
    width: 30%!important;
}

#uk_locations_map {
    float: left;
    position: relative;
    width: 65%;
    height: 0;
    padding: 0 0 65%;
    background: url(../images/map/ireland.png) center center no-repeat;
    background-size: 65%;
}

#uk_locations_map > div {
    position: absolute;
    width: 100%;
    height: 0;
    padding: 0 0 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -10000px;
}

#uk_locations_map > #scotl_ {
    background-image: url(../images/map/scotland.png);
}

#uk_locations_map > #scotl_.on {
    background-image: url(../images/map/scotland-on.png);
}

#uk_locations_map > #north_1 {
    background-image: url(../images/map/northern-ireland.png);
}

#uk_locations_map > #north_1.on {
    background-image: url(../images/map/northern-ireland-on.png);
}

#uk_locations_map > #north_ {
    background-image: url(../images/map/north.png);
}

#uk_locations_map > #north_.on {
    background-image: url(../images/map/north-on.png);
}

#uk_locations_map > #midla_ {
    background-image: url(../images/map/midlands.png);
}

#uk_locations_map > #midla_.on {
    background-image: url(../images/map/midlands-on.png);
}

#uk_locations_map > #wales {
    background-image: url(../images/map/wales.png);
}

#uk_locations_map > #wales.on {
    background-image: url(../images/map/wales-on.png);
}

#uk_locations_map > #south_ {
    background-image: url(../images/map/south-west.png);
}

#uk_locations_map > #south_.on {
    background-image: url(../images/map/south-west-on.png);
}

#uk_locations_map > #south_1 {
    background-image: url(../images/map/south-east.png);
}

#uk_locations_map > #south_1.on {
    background-image: url(../images/map/south-east-on.png);
}

#uk_locations_map > #leeds.on {
    background-image: url(../images/map/leeds.png);
}

#uk_locations_map > #londo_1.on {
    background-image: url(../images/map/london.png);
}


div.checkboxset > ul {
    float: left;
    width: 100%;
}

div.checkboxset > ul > li {
    float: left;
    width: 100%;
    margin: 5px;
    padding: 0;
}

div.checkboxset > ul > li > label {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

div.checkboxset > ul > li > label > input {
    float: left;
    width: auto;
    margin: 2px 8px 0 0;
}

div.form_row.checkboxset > label {
    font-weight: bold;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 700px;
    margin: 20px auto;
}

.white-popup table {
    border-collapse: collapse;
}

.white-popup table tr > * {
    margin: 0;
    padding: 5px;
    border: 1px solid black;
    vertical-align: top;
}

.white-popup p {
    float: none;
    margin: 0;
    padding: 5px 0;
}

.white-popup ul {
    float: none;
    margin: 0 0 0 20px;
    padding: 2px 0;
    list-style: disc;
}

.white-popup ul li {
    float: none;
    padding: 3px 0;
}

#mainContent div.news_article p {
	float: none;
}

#mainContent p.date {
	float: left;
	width: 100%;
	margin: 10px 0 15px;
	font-style: italic;
}

#mainContent > ul.news {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#mainContent > ul.news > li {
	float: left;
	width: 100%;
	margin: 10px 0;
	padding: 0;
}

#mainContent > ul.news > li a {
	float: left;
	width: 100%;
	text-decoration: none;
}

#mainContent > ul.news > li h4 {
	text-transform: uppercase;
	font-size: 1.4em;
	color: #ff5000;
}

#mainContent > ul.news > li p.read_more {
	float: left;
	width: 100%;
	margin: 10px 0 15px;
	font-weight: bold;
}

#mainContent > ul.news > li a:hover p.read_more {
	text-decoration: underline;
}

#mainContent > a.news_paging {
	float: left;
	width: 100%;
	margin: 10px 0;
	padding: 0;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

#mainContent > a.news_paging:hover {
	text-decoration: underline;
}

#mainContent img.news_image {
	float: left;
	margin: 0 10px 10px 0;
}

#mainContent > ul.client-pages {
	float: left;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#mainContent > ul.client-pages > li,
#mainContent > ul.client-pages > li * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#mainContent > ul.client-pages > li {
	float: left;
	margin: 0;
	padding: 10px;
}

#mainContent > ul.client-pages > li.row-3 {
	width: 33.333%;
}

#mainContent > ul.client-pages > li.row-2 {
	width: 50%;
}

#mainContent > ul.client-pages > li.row-1 {
	width: 100%;
}

@media only screen and (max-width: 700px){
	
	#mainContent > ul.client-pages > li.row-3,
	#mainContent > ul.client-pages > li.row-2 {
		width: 100%;
	}
}

#mainContent > ul.client-pages > li > a {
	float: left;
	width: 100%;
	background: #ff5000;
	color: #ffffff;
	padding: 30px 20px;
	border: 5px solid #ff5000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4em;
	text-decoration: none;
	text-align: center;
}

#mainContent > ul.client-pages > li > a:hover {
	background: #ffffff;
	color: #ff5000;
}
