.icon.icon-16.icon-jobmanager,
.icon.icon-16.icon-registrationmanager,
.icon.icon-16.icon-cmstimesheetcontroller,
.icon.icon-16.icon-clientmanager,
.icon.icon-16.icon-termsmanager {
    background-size: 16px auto!important;
}

.ui-no-padding {
    padding: 0!important;
}

.col-centred {
    text-align: center!important;
}

.col-dropdown {
    vertical-align: middle!important;
}

.col-dropdown select {
    float: left!important;
    width: 150px!important;
    margin-left: 0;
}

.action-send:hover span.ui-button-text {
    color: #ffffff!important;
}

.cms table.ss-gridfield-table tr th button:hover {
	color: #393939!important;
}

.cms .ui-widget.button-delete {
	float:right;
	color: #fff;
	text-shadow:none;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}

.cms .ui-widget.button-delete:hover,
.cms .button-delete:active {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
	color: #ffffff!important;
}

#IndustryID .optionset li {
    float: none;
    width: auto;
    white-space: nowrap;
}

.CompositeField.section {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #0073C1;
	box-shadow: 0 1px 0 rgba(245, 245, 245, 0.8);
}

.CompositeField.section legend {
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 1px 1px 0 white;
	padding: 5px 0;
}

.scrollable {
	overflow-y: scroll;
}